body{
	font-family: 'museo_sans_rounded300';
}
.btn-secondary{
	color: $pink;
	padding:0;
}
.tags_class{
	background: $sivo_light;
	color: $sivo_dark;
	padding:0.5em;
}
input#inputPassword2 {
    width: 400px;
}
h2 a {
    color: #555;
    font-size: 1.5rem;
    font-weight: bold;
}



.header-wrap {
  text-align: center;
  /*padding: 40px 50px;*/
  background-size: cover !important;
    padding: 14rem 0;
  background-position: top center !important;
  background: linear-gradient(red, yellow);
}
.header-wrap h1.entry-title {
  font-weight: 400;
  color: #FFF;
  font-size:3em;
  line-height: 1.2em;
  text-shadow: 1px 1px 2px black;
}
/*.single-post {
	#content {
    max-width: 740px;
}
}*/
.kontejner2{
	width: 600px;
	margin: 0 auto;
}
#main{
	margin: 0 auto;
}
.single .entry-content img{
	padding: 1rem 0;
}
#content{
	padding-top: 2rem;
}
#featured{
	
    background: #fafafa;
    color: #555;
    padding: 2rem 0;
	
}

.quote {
	    width: 30%;
    float: left;
    padding: 2rem;
    text-align: center;
    color: $pink;
}
